.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: block;
    align-items: center;  
    text-align: center;  
}

.register-container .content form h1 {
    margin: 64px 0 2px;
    font-size: 32px;
}

.register-container .content form label {
    margin-left: 10px;
}


.register-container .content form input, select {
    margin-top: 10px;
    margin-left: 10px;

}

.register-container .content h2 {
    margin-top: 20px;
}

